name: Test
"on":
  push:
    branches:
      - master
      - dependabot/npm_and_yarn/**
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version:
          - 10
          - 12
          - 14
    steps:
      - uses: actions/checkout@master
      - name: "Use Node.js ${{ matrix.node_version }}"
        uses: actions/setup-node@v2
        with:
          node-version: "${{ matrix.node_version }}"
      - run: npm ci
      - run: npm test
      - run: "npm run test:ts"
